<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('If you have any questions,please feel free to contact me at Email:') %> <a href="243545305@qq.com" target="_blank">243545305@qq.com</a>
    </div>
  </div>
</footer>